<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Nestjs MVC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {{#if user.firstName}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            {{/if}}
        </ul>
    </div>
    <div class="currentUser">
        {{#if user.firstName}}
            <p>Ingelogde gebruiker: {{user.firstName}}</p>
            {{#if user.isAdmin}}
                <p>Je bent ook nog een een gigantische baas!</p>
            {{/if}}
            <a href="/auth/logout"> Log uit</a>


        {{else}}
            <a href="/login">
                Log in
            </a>
        {{/if}}

    </div>
</nav>
